@page {
	size: A4;
	margin: 50mm 20mm 40mm 60mm;
	@top-left {
		content:url("logo/issuefab-d06.svg");
		margin: 25mm 0 0 -40mm;
		vertical-align: top;
	}
	@bottom-right-corner {
		font-family: "PT Sans", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: right;
		vertical-align: bottom;
		margin: 0 20mm 20mm -50mm;
		white-space: pre;
		content: string(subject) "\a" string(phone)  "\a" string(email);
	}
	@bottom-center {
		font-family: "PT Sans", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: center;
		vertical-align: bottom;
		margin: 0 0 20mm -40mm;
		content: counter(page) " of " counter(pages);
	}
	@bottom-left-corner {
		font-family: "PT Sans", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: left;
		vertical-align: bottom;
		margin: 0 0 20mm 20mm;
		content: string(date);
	}
}
meta[name="subject"] {
	string-set: subject attr(content);
}
meta[name="phone"] {
	string-set: phone attr(content);
}
meta[name="email"] {
	string-set: email attr(content);
}
meta[name="date"] {
	string-set: date attr(content);
}
meta[name="classification"] {
	string-set: classification attr(content);
}
